<!DOCTYPE html>
<!--
                                ,r5qBMBMBMBMBq1r.
                          :FZBMBZZ2u77:i:iir7u5Z8BBBZ2:
                    .1BMBMGr.                       .rGBBMBu.
                 XMBM0.                                   ,EBBBF
              EMBZ:                                           :OBMq
           7MB8.                                                 ,MBBi
         LBBj                                                       5MBv
       rMB7                   MB,             kB                      YBMi
      BBE                    FBGBOY   ::.  .OMMOB                       MBM
    :BB:                    rM00NEZBMBOMMMOM0ZXZOF                       iBB.
   rBB                      Bqq5qSqqZNEP0PZPPFNSZO                         BBi
  :BM                      B8qSkkPFPSqkXSXFPFPSPPO8                         MB.
  BB:                      MGkXSk5PFP5kkXFq5XFXSq0B                         iBB
 1MO                       BZPkX5qkX5XSXSXFXSqSPSEM1                         BB7
 8B.                       OMqPSPSXSXFkkqkqSkkXk0ZB:                         :Bk
5OB                         BMqNkXkX5P5PFPFqSqk0EBL                           MO
8GB                          7B0Pkk5kFXFPkX5kk0E5                             BN
2MM                            GqX5XkPFPFXFXSPNJ                              MG
 8B.                           NEkqFPSk5XSXFPFNS                             :BX
 5MM                          OOSP5kFXFP5P5X5XX8M     OB8P.                  BMr
  BB:                        MMkqFqkq5XSkSkSkFXk8M    2BBMBG                rBB
  ,BB                       MMXqSqSP5PFqFk5q5q5NqOM     GMZMO               MB
   ;BB                     B8PXSq5X5PSXFPkXSkSkSNXMX     88EMF             MB:
    .BBi                  B8qNkPSX5kSXSqSPSqSPSqFXqB      OE0B           rMB
      BB8                MOPPFqSXFXFk5PSkFqkXSPkXkNZM     MPZML         OBO
       iMBv             7BNqkXFqSk5XFkSk5P5P5PSPFPS8M     O0NB7       UBM:
         7BB1           MOqSkFqSkSXFXSPkqkPSk5XFPSqNB    J8q8M      XBBr
           iBBM,        NMPNSPSkFXkP5PkXSXSqFX5PSPk8q   uO0G8i   :MBBi
              qMBO:      MGqP5Pkk5kFkFqSPSX5kFXSPkNk  jMMN0F, :OBMX
                 uBBME:   LZqNSqSqSXSk5XSP5XSPSXkNS0ZBOMEGOOEBBJ
                     uBMBq1ZOqqSqFqFk5XkP5P5qSXXNXEEMOMMBE1i
                           ,:vvuu55XSXSXFkSkFk2FUUL7i.

            ┌┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┐
            ├    ------------- 欢迎各位开发者来访 -------------    ┤
            ├    ------ 站长？开发者？交流Q群 130832168 -------    ┤
            ├    --------- NEILREN.COM 向您衷心的问候 ---------    ┤
            ├┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┤
            ├Copyright © 2012-2016 NEILREN.COM. All Rights Reserved┤
            └┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┘
-->
<!-- NEILREN.COM Version 1.2.1.35 -->
<!-- 2016年1月29日21:14:27 第 20 次编译 -->
<html lang="zh-cn">
<head>
    <title>
        @if (ViewBag.Title != null)
        { @ViewBag.Title @Html.Raw(" - ")}任霏的个人网站与博客 - NEILREN.COM - 关注分享互联网、IT技术、软件应用等计算机科技领域的IT科技博客
    </title>
    <!--Meta Start-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="任霏,网站,博客,互联网,IT,技术,软件,应用,开发,建站" />
    <meta name="description" content="任霏个人博客，是一个关注分享关于互联网、IT技术、软件应用、程序开发等计算机科技领域的IT科技独立博客站点，作者任霏（NeilRen）免费为软件开发者提供帮助与支持。" />
    <meta name="Author" content="NEILREN.COM">
    <meta name="Copyright" content="NEILREN.COM">
    <meta name="Generator" content="Microsoft Visual Studio Professional 2015 | 14.0.23107.0 D14REL">
    <!--Meta End-->
    <link href="/Content/css/theme-default.css" rel="stylesheet" />
    <link href="//cdn.neilren.com/NEILREN_1.0/Style/NeilRen/h5alert.css" rel="stylesheet" />
    <!--syntaxhighlighter 3.0.83 css code-->
    <link type="text/css" rel="stylesheet" href="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/styles/shCoreDefault.css" />
    <link rel="icon" href="//cdn.neilren.com/NEILREN_1.0/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/jquery.flexslider-min.js"></script>
    @Html.Raw(ViewBag.Head)
    <script type="text/javascript">
        $(function () {
            if (window.location.protocol == "http:") {
                noty({
                    text: '您知道吗？我们已经支持 https 方式访问啦！<br>HTTPS 加密访问，可以避免数据的泄露和篡改。',
                    layout: 'topRight',
                    buttons: [
                            {
                                addClass: 'btn btn-success btn-clean', text: '使用 HTTPS', onClick: function ($noty) {
                                    window.location.href = "https://" + window.location.href.substring(7, window.location.href.length);
                                }
                            },
                            {
                                addClass: 'btn btn-danger btn-clean', text: '继续浏览', onClick: function ($noty) {
                                    $noty.close();
                                }
                            }
                    ]
                });
            }
        });
        var _speedMark = new Date();
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9ec9e1ad12b870030ee328be943fb6c6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        (function () {
            var bp = document.createElement('script');
            bp.src = '//push.zhanzhang.baidu.com/push.js';
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        var duoshuoQuery = { short_name: "neilren" };
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript'; ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        function MsgBox(title, content) {
            $("#MsgTitle").html("<span class=\"fa fa-globe\"></span>" + title);
            $("#MsgContent").html(content);
        }
    </script>
</head>
<body>
    <div class="page-container">
        <div class="page-sidebar">
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="/">Neil Ren</a>
                    <a href="/" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="/" class="profile-mini">
                        <img src="//cdn.neilren.com/Logo/NeilCat/NeilCat.svg" alt="Neil Ren" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="//cdn.neilren.com/Logo/NeilCat/NeilCat.svg" alt="Neil Ren" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">Neil Ren(任霏)</div>
                            <div class="profile-data-title">Software Developer</div>
                        </div>
                        <div class="profile-controls">
                            <a href="@Url.Action("", "About", new { })" class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a href="@Url.Action("", "Contact", new { })" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/"><span class="fa fa-home"></span> <span class="xn-text">网站首页</span></a>
                </li>
                <li class="xn-openable">
                    <a href="/Article"><span class="fa fa-book"></span> <span class="xn-text">博客文章</span></a>
                    <ul>
                        <li><a href="/Article"><span class="fa fa-file-text"></span> 博客首页</a></li>
                        <li><a href="/Article/Category/1"><span class="fa fa-file-text"></span> 未分类文章</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="JavaScript:void(0)" onclick="MsgBox('视频播客', '视频播客暂未开放上线。视频播客将发布原创录制的各种计算机相关的教程，敬请期待。')" class="mb-control" data-box="#message-box-sound">
                        <span class="fa fa-youtube-play"></span> <span class="xn-text">视频播客</span>
                    </a>
                </li>
                <li>
                    <a href="/Album"><span class="fa fa-image"></span> <span class="xn-text">网络相册</span></a>
                </li>
                <li class="xn-openable">
                    <a href="/Tools"><span class="fa fa-pencil"></span> <span class="xn-text">开发者工具箱</span></a>
                    <ul>
                        <li><a href="/Tools/Jsformat"><span class="fa fa-file-text"></span> JS/HTML格式化工具</a></li>
                        <li><a href="/Tools/Cssformat"><span class="fa fa-file-text"></span> CSS代码格式化工具</a></li>
                        <li><a href="/Tools/CodeSplicing"><span class="fa fa-file-text"></span> 代码拼接工具</a></li>
                        <li><a href="/Tools/MD5"><span class="fa fa-file-text"></span> MD5加密解密工具</a></li>
                        <li><a href="/Tools/UnixTime"><span class="fa fa-file-text"></span> Unix时间戳转换工具</a></li>
                        <li><a href="/Tools/Utf8"><span class="fa fa-file-text"></span> UTF-8编码转换工具</a></li>
                        <li><a href="/Tools/Escape"><span class="fa fa-file-text"></span> Escape编码工具</a></li>
                        <li><a href="/Tools/Quchong"><span class="fa fa-file-text"></span> 在线去重工具</a></li>
                        <li><a href="/Tools/Daxiaoxie"><span class="fa fa-file-text"></span> 字母大小写转换工具</a></li>
                        <li><a href="/Tools/RMB"><span class="fa fa-file-text"></span> 人民币大写在线转换工具</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="JavaScript:void(0)" onclick="MsgBox('提示', '短网址服务暂未开放上线。短网址可缩短您的URL连接。计划在第二次更新时伴随【account.neilren.com】账户中心进行内测，内测资格为邀请注册')" class="mb-control" data-box="#message-box-sound">
                        <span class="fa fa-chain"></span> <span class="xn-text">短网址服务</span>
                    </a>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">其他页面</span></a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <li class="xn-search">
                    <form role="form" action="/Search/">
                        <input type="text" name="wd" placeholder="搜索 NEILREN.COM..." />
                    </form>
                </li>
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
            </ul>


            @RenderBody()

            <div id="Footer">
                <ul id="sw_footL">
                    <li><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">冀ICP备12003293号</a> | </li>
                    <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13070902000223" target="_blank" rel="nofollow">冀公网安备13070902000223号</a> | </li>
                    <li>@Html.ActionLink("隐私声明和 Cookie", "Privacy", "Help", new { }, new { target = "_blank" }) | </li>
                    <li>@Html.ActionLink("使用条款", "Agreement", "Help", new { }, new { target = "_blank" }) | </li>
                    <li>@Html.ActionLink("帮助", "FAQ", "Help", new { }, new { target = "_blank" }) | </li>
                    <li>@Html.ActionLink("反馈", "Feedback", "Help", new { }, new { target = "_blank" })</li>
                </ul>
                <div id="Copyright">Copyright &copy; 2012-@Html.Raw(DateTime.Now.ToString("yyyy")) NEILREN.COM All rights reserved.</div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="message-box-sound">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title" id="MsgTitle"><span class="fa fa-globe"></span></div>
                <div class="mb-content">
                    <p id="MsgContent"></p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-info btn-lg pull-right mb-control-close">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div id="h5alert">
        <div id="show">
            <h2 id="title">噢，您是否知道您正在使用的浏览器无法完全支持我们的页面？</h2>
            <p style="font-size:12px;color:#CCC;">
                很抱歉，由于我们采用了HTML5，当前浏览器无法完美呈现该页面。
                为了得到我们网站最好的体验效果，我们建议您升级到最新版本的web浏览器。
            </p>
            <div id="content">
                <div style="clear:both">
                    <span style="float:left">建议您使用以下浏览器：</span>
                    <span style="float:right">关于HTML5标准，请参考<a href="http://baike.baidu.com/view/951383.htm" target="_blank" rel="nofollow">百度百科</a>。</span>
                    <div style="clear:both"></div>
                </div>
                <div id="tuijian">
                    <a href="http://www.google.cn/chrome/" target="_blank" rel="nofollow" style="margin-left:0"></a>
                    <a href="http://www.opera.com/" target="_blank" rel="nofollow"></a>
                    <a href="http://windows.microsoft.com/zh-cn/internet-explorer/" target="_blank" rel="nofollow" style="width:95px;"></a>
                    <a href="http://www.firefox.com.cn/download/" target="_blank" rel="nofollow"></a>
                    <a href="http://www.apple.com/cn/safari/" target="_blank" rel="nofollow" style="margin-left:20px;"></a>
                    <div style="clear:both"></div>
                </div>
            </div>
            <p id="go"><a href="javascript:h5alertgo()" style="background-color: #CCC; color: #000; text-decoration: none; padding: 5px 10px 5px 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">我知道了，请继续打开页面</a><div style="display:block"></div></p>
            <div style="font-size:12px; text-align:center;color:#CCC;bottom:0;">Copyright &copy; NEILREN.COM All rights reserved.</div>
        </div>
    </div>
    <!--腾讯统计-->
    <script type="text/javascript" src="//tajs.qq.com/stats?sId=28569737" charset="UTF-8"></script>
    <audio id="audio-alert" src="//cdn.neilren.com/NEILREN_1.0/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="//cdn.neilren.com/NEILREN_1.0/audio/fail.mp3" preload="auto"></audio>
    <script type="text/javascript" src="/Scripts/NeilRen/h5alert.js"></script>
    <script> h5alert();//检查浏览器是否支持HTML5</script>
    <script type='text/javascript' src='//cdn.neilren.com/NEILREN_1.0/js/plugins/noty/jquery.noty.js'></script>
    <script type='text/javascript' src='//cdn.neilren.com/NEILREN_1.0/js/plugins/noty/layouts/topCenter.js'></script>
    <script type='text/javascript' src='//cdn.neilren.com/NEILREN_1.0/js/plugins/noty/layouts/topLeft.js'></script>
    <script type='text/javascript' src='//cdn.neilren.com/NEILREN_1.0/js/plugins/noty/layouts/topRight.js'></script>

    <script type='text/javascript' src='//cdn.neilren.com/NEILREN_1.0/js/plugins/noty/themes/default.js'></script>
    <script type="text/javascript" src='//cdn.neilren.com/NEILREN_1.0/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type="text/javascript" src='//cdn.neilren.com/NEILREN_1.0/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type="text/javascript" src='//cdn.neilren.com/NEILREN_1.0/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type="text/javascript" src='//cdn.neilren.com/NEILREN_1.0/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/owl/owl.carousel.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins/tocify/jquery.tocify.min.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/settings.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/plugins.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/NEILREN_1.0/js/actions.js"></script>
    <!--START syntaxhighlighter 3.0.83 js code-->
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shAutoloader.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushAppleScript.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushAS3.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushColdFusion.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushErlang.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushJavaFX.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushPerl.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushPowerShell.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushSass.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="//cdn.neilren.com/Library/syntaxhighlighter_3.0.83/scripts/shLegacy.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
    <!--END syntaxhighlighter 3.0.83 js code-->
</body>
</html>
<!--
    日期		版本		内容
=====================================================================
    2016-01-29  1.2.1.34   完善对多说插件的支持
    2016-01-22  1.2.1.32	完善 支持HTTPS安全访问，对HTTP进行提示
    2015-12-28  1.2.1.30	修复BUG，移除残留的SQL Server 命令改为MySQL的命令
    2015-12-11  1.2.0.29	数据库由本地 SQL Server 迁移到阿里云 RDS MySQL 上
    2015-09-23	1.1.2.26	增加视频Banner
    2015-08-16	1.1.1.19	完善，增加syntaxhighlighter库，实现代码高亮
    2015-08-13	1.1.1.18	修复BUG，修复右侧链接错误
    2015-08-02	1.1.0.7		新增，新增开发者工具箱
    2015-08-01	1.1.0.3		NEILREN.COM上线
    2015-07-28	1.0.0.1		建立版本控制
    2015-07-21	0.0.0.0		新旧网址映射
    2015-07-21	0.0.0.0		启用新的标识图案 NeilCat
    2015-07-06	0.0.0.0		数据库迁移，从MySQL迁移到SQL Server
    2015-06-27	0.0.0.0		配置新服务器，新购阿里云服务器
    2015-06-21	WordPress	在企业实习中，有自己独立做自己网站的想法
    2015-06-10	WordPress	大学毕业啦~
    2015-01-05	WordPress	注册neil.ren域名
    2013-11-06	WordPress	注册neilren.com，20岁的生日，更换域名
    2013-03-01	WordPress	注册ren-fei.com 域名更改为ren-fei.com
    2012-06-04	WordPress	注册 任霏.中国，中文域名
    2012-04-08	WordPress	注册bennett-ren.com，建立个人博客
-->
