<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h3>开发者工具箱</h3>
        </div>
        <div class="panel-body list-group">
            @Html.ActionLink("JS/HTML格式化工具", "Jsformat", "Tools",new { }, new { @class= "list-group-item" })
            @Html.ActionLink("CSS代码格式化工具", "Cssformat", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("代码拼接工具", "CodeSplicing", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("MD5加密解密工具", "MD5", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("Unix时间戳(timestamp)转换工具", "UnixTime", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("UTF-8编码转换工具", "Utf8", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("Escape编码工具", "Escape", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("在线去重工具", "Quchong", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("字母大小写转换工具", "Daxiaoxie", "Tools", new { }, new { @class = "list-group-item" })
            @Html.ActionLink("人民币大写在线转换工具", "RMB", "Tools", new { }, new { @class = "list-group-item" })
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body" style="padding:0;">
            <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPR%2BOlLaTKDQcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAkb7NYrIxeG1Y6k3rLjTWi9RPAWXiEIX1TxQHrjNFTalbSf%2B87ojqk2LgAZg3aAQSudn1BbglxZYxUhy8exlzcq9AmARIwX9K%2BnbtOD3UdznPV1H2z0iQv9NkKVMHClW0QbMqOpFMIvnvjQXzzpXdTHGJe8N%2FwNpGw%3D%3D" target="_blank" rel="nofollow">
                <img src="https://cdn.neilren.com/Advert/Aliyun/440-180.gif" width="100%" />
            </a>
        </div>
    </div>
</div>